* {
    margin:0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
    background: url("../lib/login-background.jpg") no-repeat;
}

body {
    padding-top: 20px;
}

p, h1, h2, h3{
    font-family: 'Helvetica', Arial, sans-serif;
}

nav h3{
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

nav h3:hover{
    color: #fda32b;
}
nav h1{
    flex-grow: 2;

}
nav {
    margin: 0 auto;
    padding: 0 10px;
    width: 95%;
    background-color:white;
    height: 55px;
    border:5px hidden rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    border-radius: 8px;
}

section {
    padding: 20px 20px 0 20px ;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: minmax(1fr, auto);
    grid-gap: 20px;
    grid-auto-rows: 1fr;


}

.Order{
    position: relative;
    grid-area: span 2 / span 2 / 2 / -1 ;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    opacity: 0;
}
.Order h1{
    padding: 10px 0;
    font-size: 180%;
    border-bottom: 2px solid black;
}
.Order h1 button{
    cursor: pointer;
    float: right;
    padding: 10px 15px;
    border: 2px solid #fda32b;
    background-color: white;
    font-size: 70%;
    margin-top: -10px;
    border-radius: 5px;
}
.Order h1 button:active{
    background-color: #fda32b;
}

.Order :last-child{
    position: relative;
}

#total{
    position: absolute;
    bottom: 3%;
    border-top: 2px solid black;
    width: calc(100% - 30px);
}

.items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.items::after{
    content: 'Tilføj til ordre';
    font-family: 'Helvetica', Arial, sans-serif;
    position: absolute;
    top: 40%;
    font-size: 150%;
    opacity:0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.items img{
    width:100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.items:hover::after {
    opacity: 1;
}
.items:hover img {
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
}
